@import "varialble";

$main-padding: 30px 30px;
$breakpoint-tablet: 768px;

header {
  margin: 0;
  grid-area: 1 / 1 / 2 / 3;

  nav {
    display: flex;
    width: 100%;

    div.nav-left {
      display: flex;
      background-color: #eb1d24;
      padding: 10px;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
      column-gap: 5px;

      a {
        color: white;
        font-size: larger;
        font-weight: 600;
      }

      span {
        border: 5px solid #918585;
        border-radius: 20%;
        color: white;
        font-size: larger;
        font-weight: 700;
        padding: 10px;
      }
    }

    ul.nav-right {
      display: flex;
      height: auto;
      flex: 2;
      padding: 20px;
      justify-content: flex-end;
      column-gap: 20px;
      background-color: #202020;

      li {
        color: white;
        font-size: larger;
      }
    }
  }
}

body {
  div.logo {
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px;
  }

  div.loader-box {
    display: flex;
    justify-content: center;
  }
}

section {
  i {
    margin: 10px;
  }

  div {
    img {
      height: 215px;
    }

    div {
      display: flex;
      flex-direction: column;

      h2 {
        margin: 20px 0;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      margin-bottom: 10px;
      border-radius: 10px;
      border: 2px solid rgb(173, 167, 167);
      padding: 20px;

      input[type=text],
      textarea {
        border: none;
        border-bottom: 2px solid #3532323b;
        padding: 20px;
        outline: none;
      }

      button[type=button] {
        border: none;
        padding: 13px;
        color: black;
        cursor: pointer;
      }
    }
  }
}

main {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 50px 10px;
  width: 100%;
  padding: 20px 300px;

  .item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 10px;
    row-gap: 20px;
    padding: 10px;
    height: 100%;
    transition: 2s;

    div.item-image {
      display: flex;
      min-width: 460px;
      min-height: 239px;
      max-width: 45px;
      max-height: 45px;
      justify-content: center;

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    strong {
      font-family: $font-lato;
      font-size: large;
      font-weight: 900;
      color: #eb1d24;
    }

    div.desc-box {
      height: 25%;

      p {
        color: #202020;
        font-family: Georgia, serif;
        font-weight: normal;
        font-size: 1.1rem;
        line-height: 1.6;
        letter-spacing: 0.018em;
        margin-bottom: 1.4rem;
        text-rendering: optimizeLegibility;
      }
    }

    .interact-icon {
      display: flex;
      justify-content: space-between;

      span {
        cursor: pointer;
        color: #202020;
      }
    }

    .reserve-btn {
      display: block;
      text-align: center;
      border: none;
      height: 55px;
      background-color: #202020;
      cursor: pointer;
      color: azure;
    }
  }

  .item-box:hover {
    transform: scale(1.1);
  }
}

@media (max-width: $breakpoint-tablet) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    padding: $main-padding;
  }
}
