@import "varialble";

$main-padding: 30px 30px;
$breakpoint-tablet: 768px;

header {
  ul {
    li {
      span {
        padding: 5px 10px;
        border-radius: 50%;
        background-color: #4982bd;
        color: white;
      }
    }
  }
}

section {
  i {
    margin: 10px;
  }

  div {
    img {
      height: 215px;
    }

    div {
      display: flex;
      flex-direction: column;

      h2 {
        margin: 20px 0;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      margin-bottom: 10px;
      border-radius: 10px;
      border: 2px solid rgb(173, 167, 167);
      padding: 20px;

      input[type=text],
      textarea {
        border: none;
        border-bottom: 2px solid #3532323b;
        padding: 20px;
        outline: none;
      }

      button[type=button] {
        border: none;
        padding: 13px;
        color: black;
        cursor: pointer;
      }
    }
  }
}

main {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: $main-padding;
  gap: 50px 10px;
  width: 100%;

  .item-box {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #d8e0e7;
    padding: 10px;
    height: 100%;

    img {
      display: block;
      max-width: 100%;
      min-height: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    strong {
      font-family: $font-lato;
      font-size: medium;
      font-weight: 900;
    }

    p {
      font-family: $font-cocogoose;
      color: #111416;
      font-size: small;
      height: 25%;
      font-style: italic;
    }

    .interact-icon {
      display: flex;
      justify-content: space-between;

      span {
        cursor: pointer;
      }
    }

    .reserve-btn {
      display: block;
      text-align: center;
      border: none;
      height: 55px;
      background-color: $primary-color;
      cursor: pointer;
      color: azure;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    padding: $main-padding;
  }
}
