@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/Lato");

$font-cocogoose: "cocogoose", sans-serif;
$font-lato: "Lato", sans-serif;
$primary-color: #3e6f9e;
