@import url("https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import "assets/scss/varialble.scss";

$font-karla: "Karla",sans-serif;
$primary-color: #3e6f9e;
$secondary-color: rgb(25, 216, 98);

body {
  font-family: $font-karla;
  color: $primary-color;
}

p {
  font-family: $font-karla;
  font-style: italic;
  font-size: medium;
}
