*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color);
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: aliceblue;
}
