*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color);
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

main {
  z-index: 5;
}

.modal {
  display: none;
  width: 100%;
  height: 80vh;
  margin: auto;
  border-radius: 20px;
  border: 5px solid rgb(173, 167, 167);
  overflow: auto;
}

.modal-header {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  row-gap: 10px;
  margin-bottom: 20px;
}

.comment-span {
  padding: 2px;
}

.dn {
  display: none;
}

.containComment {
  overflow: auto;
}

footer {
  height: 60px;
  padding: 3% 5%;
  border-top: 1.5px solid #aaa;
  text-align: center;
}

header {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 40px 10px;
}

.logo {
  border: 1px solid blue;
  border-radius: 50%;
  padding: 1em;
  margin: auto;
}

.nav-tab {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  list-style: none;
  gap: 1em;
}

.nav-tab li {
  margin-right: 1em;
  margin-left: 2em;
}

hr {
  width: 100%;
  margin-top: 14px;
}
